<Html>  
    <head>   
    <title>  
   Employees Registration Page  
    </title>  
    </head>  
    <body bgcolor="Lightskyblue">  
    <br>  
    <br>  
    <form>  
        <h1> SEASIA INFOTECH </h1>
        <h2>Register yourself here</h2>
      
    <label> Firstname </label>         
    <input type="text" name="firstname" size="15"/> <br> <br>  
    <label> Middlename: </label>     
    <input type="text" name="middlename" size="15"/> <br> <br>  
    <label> Lastname: </label>         
    <input type="text" name="lastname" size="15"/> <br> <br>  
      
    <label>   
    Department :  
    </label>   
    <select>  
    <option value="select">select</option>  
    <option value="DevOps">DevOps</option>  
    <option value="PHP">PHP</option>  
    <option value="QA">QA</option>  
    <option value="HR">HR</option>  
    <option value="Python">Python</option>  
    <option value="Java">Java</option>  
    </select>  
      
    <br>  
    <br>  
    <label>   
    Gender :  
    </label><br>  
    <input type="radio" name="male"/> Male <br>  
    <input type="radio" name="female"/> Female <br>  
    <input type="radio" name="other"/> Other  
    <br>  
    <br>  
      
    <label>   
    Phone :  
    </label>  
    <input type="text" name="country code"  value="+91" size="2"/>   
    <input type="text" name="phone" size="10"/> <br> <br>  
    Address  
    <br>  
    <textarea cols="80" rows="5" value="address">  
    </textarea>  
    <br> <br>  
    Email:  
    <input type="email" id="email" name="email"/> <br>    
    <br> <br>  
    Password:  
    <input type="Password" id="pass" name="pass"> <br>   
    <br> <br>  
    Re-type password:  
    <input type="Password" id="repass" name="repass"> <br> <br>  
    <input type="button" value="Submit"/>  
    </form>  
    </body>  
    </html>  